body{
	margin:0px;
	padding:0px;
	background-image: url(http://myclibe.com/images/bg_wood_panel_black.jpg) !important;
/* 	background-image:none !important;
 */	background-color: #f4eadd !important;
	}

#debug {
	float: right;
}

#canvas_wr {
	border: 0px solid black;
	position: absolute;
	top: 0px;
	left:320px;
	width: 920px;
	height: 580px;
	background-image: url(../images/canvasbackground.jpg);

	background-color:#1c1f27;
	background-repeat: no-repeat;
	background-position: 0px 50px;
}

/* WebGL unsupported notification */
#oldie{
	position:absolute;
	left:540px;
	z-index:1000;
	}

#fireworksShow {
	position: fixed;
	left: 0px;
}

#showQueue {
	position: fixed;
	left: 0px;
	top:0px;
}

#showQueueBackground{
/* 		background-color:#f4eadd;
 */		width:320px;
		position:fixed;
		height:100%;
		top:0px;
		left:0px;
	}
	
	#showControls{
	margin-top:100px;
	}

.fireworksQueue {
	overflow-y: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0px solid black;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	z-index:2;
}


.fireworksQueue>li {
	padding: 0px;
	margin: 0px;
	float: left;
	clear: left;
}

#magic{
	display:block;
	position:fixed;
	top:15px;
	left: 15px;
	z-index:10;
	}

li.queueHeader{
	height:20px;
	background-color:#efefec;
	border:1px solid black;
	width:278px;
	}
	
	li.queueHeader > .ui-state-default{
	height:16px;
	width: 16px;
	float:left;
	}

.spawnQueue {
	position: relative;
	left: 30px;
}

.guidat {
	padding: 0px;
	margin: 0px;
	position: relative;
	float:left;
}

#below{
	width:860px;
	height:100%;
	position:fixed;
	left:320px;
	top:580px;
	padding:30px;
	/* background-image:url(http://myclibe.com/images/bg_wood_panel_black.jpg);
	 */
}


#clibeCopy{
	position:absolute;
	right:15px;
	}

#clibeCopy  a{
	display:block;
	position:relative;
		z-index:10;
	
	}
	
	
#below p{
	margin-bottom:20px;
	line-height:22px;
}
p{
	font-size:18px;
	font-weight:normal;
	color:white;
	text-shadow:0px 2px 3px black;
}