#debug{
float:right;	}

#canvas_wr {
	border:1px solid black;
    position: absolute;
    top: 0px;
	width:720px;
	height:480px;
}

#showQueue{
overflow-y: auto;
width:200px;
height:600px;
position:fixed;
left:750px;
top:0px;
border: 1px solid black;
margin:0px;
}